In [1]:
# Import required libraries
import numpy as np
import pandas as pd

In [2]:
# Load the Dataset
cal_hous_data = pd.read_excel('/Users/anandjha/Desktop/DataScience_SimpliLearn_Purdue_University/Data Science with Python/1553768847_housing.xlsx')

In [3]:
# Checking DataTypes
cal_hous_data.dtypes

longitude             float64
latitude              float64
housing_median_age      int64
total_rooms             int64
total_bedrooms        float64
population              int64
households              int64
median_income         float64
ocean_proximity        object
median_house_value      int64
dtype: object

In [4]:
# Print first 5 records
cal_hous_data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity,median_house_value
0,-122.23,37.88,41,880,129.0,322,126,8.3252,NEAR BAY,452600
1,-122.22,37.86,21,7099,1106.0,2401,1138,8.3014,NEAR BAY,358500
2,-122.24,37.85,52,1467,190.0,496,177,7.2574,NEAR BAY,352100
3,-122.25,37.85,52,1274,235.0,558,219,5.6431,NEAR BAY,341300
4,-122.25,37.85,52,1627,280.0,565,259,3.8462,NEAR BAY,342200

In [5]:
# Describe the Data
cal_hous_data.describe

<bound method NDFrame.describe of        longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0        -122.23     37.88                  41          880           129.0
1        -122.22     37.86                  21         7099          1106.0
2        -122.24     37.85                  52         1467           190.0
3        -122.25     37.85                  52         1274           235.0
4        -122.25     37.85                  52         1627           280.0
...          ...       ...                 ...          ...             ...
20635    -121.09     39.48                  25         1665           374.0
20636    -121.21     39.49                  18          697           150.0
20637    -121.22     39.43                  17         2254           485.0
20638    -121.32     39.43                  18         1860           409.0
20639    -121.24     39.37                  16         2785           616.0

       population  households  median_income ocean_proximity  \
0             322         126         8.3252        NEAR BAY
1            2401        1138         8.3014        NEAR BAY
2             496         177         7.2574        NEAR BAY
3             558         219         5.6431        NEAR BAY
4             565         259         3.8462        NEAR BAY
...           ...         ...            ...             ...
20635         845         330         1.5603          INLAND
20636         356         114         2.5568          INLAND
20637        1007         433         1.7000          INLAND
20638         741         349         1.8672          INLAND
20639        1387         530         2.3886          INLAND

       median_house_value
0                  452600
1                  358500
2                  352100
3                  341300
4                  342200
...                   ...
20635               78100
20636               77100
20637               92300
20638               84700
20639               89400

[20640 rows x 10 columns]>

In [6]:
# Checking mean of each column
cal_hous_data.mean()

longitude               -119.569704
latitude                  35.631861
housing_median_age        28.639486
total_rooms             2635.763081
total_bedrooms           537.870553
population              1425.476744
households               499.539680
median_income              3.870671
median_house_value    206855.816909
dtype: float64

In [7]:
# filling missing values with mean of the column
cal_hous_data.fillna(cal_hous_data.mean(),inplace = True)

In [8]:
# Encode categorical data :
# converting categorical column to numerical

from sklearn.preprocessing import LabelEncoder

lab_enco = LabelEncoder()
cal_hous_data['ocean_proximity'] = lab_enco.fit_transform(cal_hous_data['ocean_proximity'].astype('str'))

In [9]:
# Checking type after conversion
cal_hous_data['ocean_proximity'].dtype

dtype('int64')

In [10]:
# extracting input and output data
x_input = cal_hous_data.iloc[:,0:9]
y_output = cal_hous_data.iloc[:,9:10]

In [11]:
# printing x_input values 
print(x_input)

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0        -122.23     37.88                  41          880           129.0
1        -122.22     37.86                  21         7099          1106.0
2        -122.24     37.85                  52         1467           190.0
3        -122.25     37.85                  52         1274           235.0
4        -122.25     37.85                  52         1627           280.0
...          ...       ...                 ...          ...             ...
20635    -121.09     39.48                  25         1665           374.0
20636    -121.21     39.49                  18          697           150.0
20637    -121.22     39.43                  17         2254           485.0
20638    -121.32     39.43                  18         1860           409.0
20639    -121.24     39.37                  16         2785           616.0

       population  households  median_income  ocean_proximity
0             322         126         8.3252                3
1            2401        1138         8.3014                3
2             496         177         7.2574                3
3             558         219         5.6431                3
4             565         259         3.8462                3
...           ...         ...            ...              ...
20635         845         330         1.5603                1
20636         356         114         2.5568                1
20637        1007         433         1.7000                1
20638         741         349         1.8672                1
20639        1387         530         2.3886                1

[20640 rows x 9 columns]

In [12]:
# printing y_output values 
print(y_output)

       median_house_value
0                  452600
1                  358500
2                  352100
3                  341300
4                  342200
...                   ...
20635               78100
20636               77100
20637               92300
20638               84700
20639               89400

[20640 rows x 1 columns]